<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="nav">
        <a href="/">Меню</a>
        <a href="/labs/labs">Лаборатории</a>
        <a href="/labs/equipment">Испытательное оборудование</a>
        <a href="/labs/testsList">Наборы испытаний</a>
        <a href="/labs/testers">Испытатели</a>
    </div>

    <h1>Проведённые испытания</h1>

    <a class="add-button" href="/labs/tests/add">Добавить испытателя</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Набор испытаний</th>
                <th>Изделие</th>
                <th>Дата</th>
                <th>Испытатель</th>
                <th>Оборудование</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {{range .PerformedTests}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.TestName}}</td>
                <td>{{.ProductName}}</td>
                <td>{{FormatDate .Date}}</td>
                <td>{{.TesterName}}</td>
                <td>{{.EquipmentName}}</td>
                <td><a href="/labs/tests/delete/{{.ID}}">Удалить</a></td>
            </tr>
        {{else}}
            <tr><td colspan="7"><em>Нет записей</em></td></tr>
        {{end}}
        </tbody>
    </table>
</body>
</html>
