
<h1 style="text-align: center; font-size: 2.5em; margin-bottom: 40px;">Завод</h1>

<div style="
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px;
    justify-items: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
">
    <a href="/staff/people" style="text-align: center; text-decoration: none; color: black;">
        <div style="width: 320px; height: 320px; object-fit: cover">
            <img src="/img/staff.jpg" alt="Staff" style="width: 100%; height: auto;"><br>
            <strong>Сотрудники</strong>
        </div>
    </a>

    <a href="/labs" style="text-align: center; text-decoration: none; color: black;">
        <div style="width: 320px; height: 320px; object-fit: cover">
            <img src="/img/labs.jpg" alt="Labs" style="width: 100%; height: auto;"><br>
            <strong>Лаборатории</strong>
        </div>
    </a>

    <a href="/workshops" style="text-align: center; text-decoration: none; color: black;">
        <div style="width: 320px; height: 320px; object-fit: cover">
            <img src="/img/workshops.jpg" alt="Workshops" style="width: 100%; height: auto;"><br>
            <strong>Цеха</strong>
        </div>
    </a>

    <a href="/products" style="text-align: center; text-decoration: none; color: black;">
        <div style="width: 320px; height: 320px; object-fit: cover">
            <img src="/img/products.jpg" alt="Products" style="width: 100%; height: 67%;"><br>
            <strong>Продукция</strong>
        </div>
    </a>
</div>
